ansible==12.0.0
ansible-compat==25.8.1
ansible-core==2.19.2
attrs==25.3.0
bracex==2.6
cffi==2.0.0
click==8.3.0
click-help-colors==0.9.4
cryptography==46.0.2
distro==1.9.0
enrich==1.2.7
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
molecule==25.9.0
molecule-vagrant==2.0.0
packaging==25.0
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
python-vagrant==1.0.0
PyYAML==6.0.3
referencing==0.36.2
resolvelib==1.2.0
rich==14.1.0
rpds-py==0.27.1
selinux==0.3.0
subprocess-tee==0.4.2
typing_extensions==4.15.0
wcmatch==10.1
